body {
  margin: 0;
  font-family: Verdana, Tahoma, Helvetica, sans-serif, Arial;
  overflow: hidden;
  user-select: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #212225;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /*TODO: Slide in effect for all the elements within the sidenav*/
}

#closeNav {
  padding: 2vw 2vw 2vw 2vw;
  color: #ffffffaa;
  cursor: pointer;
  will-change: filter;
  transition: filter 0.2s ease-out;
}

#navLinks a {
  padding: 2vw 2vw 2vw 2vw;
  text-decoration: none;
  font-size: 25px;
  color: #ffffffaa;
  display: block;
  will-change: filter;
  transition: filter 0.3s ease-out;
}

#closeNav:hover {
  filter: drop-shadow(0 0 0.75rem rgb(255, 255, 255));
}

#Fachliche-Kompetenz:hover {
  filter: drop-shadow(0 0 1rem rgb(0, 0, 255));
}

#Fachwissenschaftliches-Arbeiten:hover {
  filter: drop-shadow(0 0 1rem rgb(0, 255, 0));
}

#Zusätzliche-MINT-Aktivitäten:hover {
  filter: drop-shadow(0 0 1rem rgb(255, 0, 255));
}

#settings:hover {
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

#export:hover {
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

#main {
  width: 100vw;
  height: 100vh;
}

#topbar {
  width: 100vw;
  height: 10vh;
}
