table {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

th {
  color: black;
  background-color: #f4f4f4;
}

thead {
  background-color: #212225;
  color: #ffffff;
  font-weight: bold;
}

th,
td {
  padding: 10px;
  text-align: center;
  color: black;
  border-bottom: 1px solid #dddddd;
}

th {
  font-size: 1rem;
  text-transform: uppercase;
}

td input[type="text"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.8em;
}

td input[type="number"] {
  width: 60px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.8rem;
  text-align: center;
}

td span {
  font-size: 0.8rem;
  color: #333;
}

/* Hover Effekt für die Tabelle */
tr:not(.selected):hover {
  background-color: rgba(33, 34, 37, 0.1);
}

.selected {
  background-color: rgba(33, 34, 37, 0.3);
}

.selected-student {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #121212;
  justify-content: center;
  background-color: #aa00ff;
  width: 100%;
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 10px;
}

th,
td {
  padding: 8px;
  padding-left: 13px;
  border: 1px solid #dddada;
  text-align: left;
}

.add-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#editButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#deleteButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}
