/* Allgemeines Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body und Hintergrund */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

/* Container für das Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Menü-Stil */
.menu {
  width: 250px;
  background-color: #121212;
  padding-top: 50px;
  position: relative;
}



.menu-item {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  display: block;
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #aa00ff;
  color: #121212;
}

/* Aktives Menü-Item */
.menu-item.active {
  background-color: #aa00ff;
  color: #121212;
}
/* Body und Hintergrund */
body {
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
  color: #fff;
}

/* Container für das Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Menü-Stil */
.menu {
  width: 250px;
  background-color: #121212;
  padding-top: 50px;
  position: relative;
}

.menu-item {
  padding: 15px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: white;
  text-decoration: none;
}

.menu-item:hover {
  background-color: #aa00ff;
  color: #121212;
}

/* Aktives Menü-Item */
.menu-item.active {
  background-color: #aa00ff;
  color: #121212;
}

h3 {
  margin-top: 40px;
}

/* Hauptinhalt */
.main-content {
  flex-grow: 1;
  background-color: #222222;
  padding: 20px;
  color: #ccc;
  text-align: center;
  /* Entfernt das Flexbox-Layout und lässt die Inhalte untereinander anordnen */
  display: block;
}

/* Futuristische Effekte */
.menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #aa00ff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu-item:hover::before {
  transform: scaleX(1);
}

.main-content h1 {
  font-size: 3rem;
  color: #aa00ff;
}

.main-content h2 {
  font-size: 2rem;
  color: #aa00ff;
}

.separator {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}
/* Stil für die Abschnitte und Eingabefelder */
.form-container {
  margin-top: 0px;
  display: flex;
  color: black;
}

.input-field-n {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 60px;
  border-radius: 5px;
  text-align: center;
}

.input-field-t {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
}

.section {
  display: block; /* Alle Abschnitte sind immer sichtbar */
  margin-bottom: 20px;
  padding: 10px;
  opacity: 1; /* Alle Abschnitte sind standardmäßig ausgegraut */
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.separator {
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

label {
  margin-left: 10px;
}

.section-header {
  color: black;
  margin-top: -40px;
  margin-bottom: 10px;
}

.active {
  background-color: rgb(166, 235, 156);
  transition: background-color 0.3s ease;
}

.selected-student {
  position: absolute;
  bottom: 20px;
  text-align: center;
  font-size: 14px;
  color: #121212;
  justify-content: center;
  background-color: #aa00ff;
  width: 100%;
  border-radius: 10px; /* Abgerundete Ecken */
  padding: 10px;
}
